[include mainsail.cfg]
[include macros.cfg]
[include test-probe-accuracy.cfg]
[include debug.cfg]
[include stealthburner_led_effects_3_leds.cfg]
[exclude_object]

[auto_tap]
tap_version: CL_CNC

[mcu]
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.1:1.0
restart_method: command

[mcu EBBCan]
canbus_uuid: ee64d4241223

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: z,-y,x

[resonance_tester]
probe_points: 150, 150, 20
accel_chip: adxl345

[input_shaper]
shaper_freq_x: 82.2
shaper_type_x: ei
shaper_freq_y: 47.2
shaper_type_y: mzv

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  
endstop_pin: tmc2209_stepper_x:virtual_endstop
#endstop_pin: PG6
position_min: 0
position_endstop: 297
position_max: 297
homing_speed: 50   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6
driver_SGTHRS: 70

[stepper_y]
##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_y:virtual_endstop
#endstop_pin: PG9
position_min: 0
position_endstop: 297
position_max: 297
homing_speed: 50  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9
driver_SGTHRS: 90

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
##  Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5

# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4    
microsteps: 32
full_steps_per_rotation: 200

endstop_pin: probe:z_virtual_endstop #PG10

## All builds use same Max Z
position_max: 250
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z1]
##  Z1 Stepper - Rear Center
##  Connected to MOTOR_3
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32
full_steps_per_rotation: 200
 
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z2]
##  Z2 Stepper - Front Right
##  Connected to MOTOR_4
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Extruder
#####################################################################
 
#   Connected to MOTOR_6
#   Heater - HE0
#   Thermistor - T0
[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2

rotation_distance: 22.860

gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200

nozzle_diameter: 0.600
filament_diameter: 1.750

heater_pin: EBBCan: PB13
sensor_type: Generic 3950
sensor_pin: EBBCan: PA3

control: pid
pid_Kp: 35.857
pid_Ki: 10.866
pid_Kd: 29.583
min_temp: 0
max_temp: 300
max_power: 1.0
min_extrude_temp: 170

pressure_advance: 0.039
pressure_advance_smooth_time: 0.040

max_extrude_only_distance: 100
max_extrude_cross_section: 5.5 ## For adaptive purge

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.650
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Bed Heater
#####################################################################
 
[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 0.5
min_temp: 10
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[idle_timeout]
timeout: 3600
gcode:
    M104 S0                          ; turn off hotend
    M140 S0                          ; turn off bed
    M106 S0                          ; turn off fan
    #STOP_LED_EFFECTS
    #SET_LED_EFFECT EFFECT=status_idle
 
#####################################################################
#   Probe
#####################################################################

##TAP
[probe]
pin: ^EBBCan: PB6
x_offset = 0
y_offset = 0
#z_offset = 0
speed = 10.0
samples = 3
samples_result = median
sample_retract_dist = 3.2
samples_tolerance = 0.006
samples_tolerance_retries = 3

[safe_z_home]
home_xy_position: 150,150
z_hop: 5                 

[z_tilt]
z_positions:
   -50, 18
   150, 348
   350, 18
points:
   30, 5
   150, 245
   270, 5

speed: 400
horizontal_move_z: 3
retries: 7
retry_tolerance: 0.0075

[bed_mesh]
speed: 400
horizontal_move_z: 3
mesh_min: 40, 40
mesh_max: 260, 260
fade_start: 0.6
fade_end: 10.0
probe_count: 9, 9
algorithm: bicubic

#####################################################################
#   Fan Control
#####################################################################
 
[fan]
##  Print Cooling Fan - FAN0
pin: EBBCan: PA1
kick_start_time: 0.5
off_below: 0.10
 
[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: EBBCan: PA0
heater: extruder
heater_temp: 50.0
max_power: 1.0
kick_start_time: 0.5
 
[controller_fan controller_fan]
#  Controller fan - FAN2
pin: PD12
kick_start_time: 0.5
heater: heater_bed
#heater_temp: 70.0
max_power: 0.4
 
#[heater_fan exhaust_fan]
##  Exhaust fan - FAN3
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0
 
#####################################################################
#   LED Control
#####################################################################
 
[output_pin caselight]
# Chamber Lighting - HE2 Connector (Optional)
pin: PB10
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01

########################################
# EXP1 / EXP2 (display) pins
########################################
 
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,
 
    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>
 
#####################################################################
#   Displays
#####################################################################

[display]
#  mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2
 
[neopixel btt_mini12864]
#  To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
color_order: RGB
 
#  Set RGB values on boot up for each Neopixel. 
#  Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 0
gcode:
        #SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        #SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
        #SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 
 
#####################################################################
#   Thermals
#####################################################################
        
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100
 
[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan: PA2

#####################################################################
#   Autotune TMC
#####################################################################

[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ac
tuning_goal: auto # auto, silent, performance
sg4_thrs: 70
[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ac
tuning_goal: auto # auto, silent, performance
sg4_thrs: 90
[autotune_tmc stepper_z]
motor: ldo-42sth40-1684l300e
tuning_goal: auto # auto, silent, performance
[autotune_tmc stepper_z1]
motor: ldo-42sth40-1684l300e
tuning_goal: auto # auto, silent, performance
[autotune_tmc stepper_z2]
motor: ldo-42sth40-1684l300e
tuning_goal: auto # auto, silent, performance
[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal: auto # auto, silent, performance

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 32.520
#*# pid_ki = 1.112
#*# pid_kd = 237.800
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.022500, 0.023750, 0.035000, 0.035000, 0.019375, 0.009375, 0.005000, -0.019375, -0.027500
#*# 	0.022500, 0.030625, 0.034375, 0.046250, 0.030625, 0.024375, -0.001250, -0.015000, -0.020000
#*# 	0.002500, 0.016875, 0.036250, 0.031250, 0.008750, 0.003125, -0.018125, -0.036250, -0.056250
#*# 	-0.005625, 0.018750, 0.030000, 0.025000, 0.011875, 0.000625, -0.037500, -0.058750, -0.086875
#*# 	-0.003125, 0.018125, 0.034375, 0.030000, 0.002500, -0.017500, -0.049375, -0.093125, -0.120000
#*# 	-0.003750, 0.003750, 0.016875, 0.013750, -0.005000, -0.017500, -0.046250, -0.091875, -0.141250
#*# 	0.009375, 0.019375, 0.033125, 0.007500, -0.013750, -0.016875, -0.054375, -0.090625, -0.141250
#*# 	0.049375, 0.041250, 0.039375, 0.023125, -0.005625, -0.016250, -0.052500, -0.071250, -0.110625
#*# 	0.065625, 0.071875, 0.063125, 0.045625, 0.026250, 0.005000, -0.011875, -0.035000, -0.094375
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
#*#
#*# [probe]
#*# z_offset = -0.260
